@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Kumbh Sans', sans-serf;
    scroll-behavior: smooth;
    
}

.navbar{
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    top: 0;
    z-index: -999;

}
.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo{
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;

}
.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;

}
.navbar__items{
    height: 80px;
}

.navbar__links{
    color: #ffff;
    display: flex;
    width: 125px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

navbar__btn{
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    width: 100%;
}
.button{
    
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #833ab4;
    color: rgb(252, 252, 252);
    background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
    transition: all 0.3s ease;
    margin-left: 20px;
}
.navbar__links:hover{
    color: #9551fc;
    transition: all 0.3s ease;

}

